*.rbc
capybara-*.html
.rspec
/log/*.log*
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
# config/secrets.yml

## Environment normalisation:
**/.bundle
**/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore pow environment settings
.powenv

# Settings and large config file
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/GeoLiteCity.dat

# Ignore application configuration
/config/application.yml

# IntelliJ
.idea/**/*
!.idea/codeStyleSettings.xml

# Assets
public/javascripts
public/assets

# Rspec
spec/artifacts/examples.txt

# Secure
password.txt

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gulp
gulp/temp

#VS Code
.vscode/

erd.pdf
.DS_STORE
._.DS_Store
.docker-sync
